.App {
  background-color: whitesmoke;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Home Page  */

.HomeBackgroundImage {
  background: url("/yosemitebackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center center;
  position: relative;
}

.Logo {
  font-family: "Manrope", sans-serif;
  margin-bottom: 0;
  font-style: italic;
}

.SanctuarySign {
  position: absolute;
  top: 0vh;
  left: 40vh;
  z-index: 9999;
  color: white;
  font-size: 180px;
  font-family: "Manrope", sans-serif;
}

.Tagline {
  position: absolute;
  top: 27vh;
  left: 55vh;
  z-index: 9999;
  color: white;
  font-size: 28px;
  font-family: "Manrope", sans-serif;
  font-style: bold;
}

/* Sign Up Page */

.SignUpBackgroundImage {
  background: url("/grandcanyonbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center center;
  position: relative;
}

.SignUpForm {
  position: center;
  margin-top: 150px;
  margin-left: 30%;
  margin-right: 35%;
  width: 40%;
  padding: 30px;
  background-color: whitesmoke;
  border-radius: 10px;
  border: 3px solid rgb(80, 79, 79);
}

.form-control {
  border: 2px solid;
}

/* Login Page */

.LoginBackgroundImage {
  background: url("/coloradobackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center center;
  position: relative;
}

.LoginForm {
  position: center;
  margin-top: 180px;
  margin-left: 30%;
  margin-right: 35%;
  width: 40%;
  padding: 30px;
  background-color: whitesmoke;
  border-radius: 10px;
  border: 3px solid rgb(80, 79, 79);
}

/* Trips Page */

.InnerLogo {
  font-family: "Manrope", sans-serif;
  margin-bottom: 0;
  font-style: italic;
  color: white;
}

.TripsBackgroundImage {
  background: url("/glacierbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 97vh;
  background-position: center center;
  position: relative;
}

.TripsPhrase {
  position: absolute;
  top: 29vh;
  left: 30vh;
  z-index: 9999;
  color: white;
  font-size: 70px;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
}

.TripsList {
  position: absolute;
  top: 25vh;
  left: 100vh;
  z-index: 9999;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  border: 3px solid rgb(80, 79, 79);
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 0.875rem;
  line-height: 0.5;
  border-radius: 0.2rem;
}

/* Profile Page */

.ProfileBackgroundImage {
  background: url("/redwoodbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center center;
  position: relative;
}

.ProfileForm {
  position: absolute;
  top: 20vh;
  left: 20vh;
  margin-right: 35%;
  width: 40%;
  padding: 30px;
  background-color: whitesmoke;
  border-radius: 10px;
  border: 3px solid rgb(80, 79, 79);
}

.ProfilePhrase {
  position: absolute;
  top: 20vh;
  left: 110vh;
  z-index: 9999;
  color: white;
  font-size: 60px;
  font-family: "Manrope", sans-serif;
  text-align: right;
  font-weight: bold;
}

/* Main Page */

.Main {
  background-color: whitesmoke;
}

.ParkList {
  background-color: whitesmoke;
  margin-top: 75px;
  padding: 10px;
  margin-left: 40px;
  columns: 4;
  width: 60%;
  display: inline-block;
}
.ParkCard {
  padding: 10px;
  object-fit: scale-down;
  display: inline-block;
}

.parkCardImage {
  opacity: 100%;
}

.parkCardImage:hover {
  opacity: 40%;
}

.Video {
  margin-top: 32%;
  margin-left: 72px;
  width: 50%;
  display: inline-block;
  position: fixed;
}

.Calendar {
  width: 30%;
  margin-top: 29%;
  margin-left: 70px;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  position: fixed;
}

.Weather {
  width: 30%;
  margin-top: 7%;
  margin-bottom: 20px;
  margin-left: 69px;
  margin-right: 70px;
  display: inline-block;
  border: 3px solid gray;
  border-radius: 15px;
  vertical-align: top;
  position: fixed;
  padding: 10px 60px;
  background-color: white;
}

.description {
  text-transform: capitalize;
}

/* Modal */

.primaryModal {
  position: relative;
  top: 3%;
  right: 16%;
  transform: translateY(-50%);
}

.parkDescription {
  float: left;
  margin-left: 30px;
  width: 50%;
  padding: 15px;
  padding-bottom: 0px;
  font-size: medium;
}

.parkContactInfo {
  float: left;
  width: 40%;
  text-align: right;
  padding-top: 0%;
  padding-bottom: 0px;
}

.modalImage {
  text-align: center;
}

.ModalHeader {
  text-align: center;
}
